{{>header}}
<main class="sugerir-container">
    <div class="sugerir-card">
        <h2>Editar Pregunta Sugerida</h2>
        <p>Corregí cualquier error antes de aprobarla para el juego.</p>

        <form action="/editor/procesarEdicion" method="POST" class="form-sugerir">
            <input type="hidden" name="id" value="{{id}}">

            <label>Pregunta:</label>
            <input type="text" name="enunciado" value="{{pregunta}}" required>

            <label>ID Categoría (1:Historia, 2:Deportes, 3:Entretenimiento, 4:Arte, 5:Ciencia):</label>
            <input type="number" name="categoria" value="{{categoria_id}}" min="1" max="5" required>

            <label>Opción A:</label>
            <input type="text" name="opcion_a" value="{{opcion_a}}" required>

            <label>Opción B:</label>
            <input type="text" name="opcion_b" value="{{opcion_b}}" required>

            <label>Opción C:</label>
            <input type="text" name="opcion_c" value="{{opcion_c}}" required>

            <label>Opción D:</label>
            <input type="text" name="opcion_d" value="{{opcion_d}}" required>

            <label>Respuesta Correcta (A, B, C o D):</label>
            <input type="text" name="respuesta_correcta" value="{{respuesta_correcta}}" required>

            <button type="submit" class="btn-primario">Guardar Cambios</button>
        </form>
    </div>
</main>
{{>footer}}